*{
    padding: 0;
    margin: 0;
}
.header {
    background-color: #A4DEE6;
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.logo {
    font-size: 30px;
}
.nav ul {
    display: flex;
    list-style: none;
    
}
.nav ul li a {
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
}
/* this is the style for the search bar*/
.searchBar {
    padding-top: 40px;
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
}
form {
    
    width: 600px;
    height: 55px;
    display: flex;
}
form input{
    background: #D9ECF2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    flex: 1;
    border: none;
    outline: none;
}
input::placeholder {
    font-family: 'Poppins', sans-serif;
    padding-left: 55px;
    font-size: 20px;
}
  
form button{
    padding: 10px 50px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
    letter-spacing: 1px;
    background: #A4DEE6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}
/* this is the style for the image slider*/
.image-container {
    padding: 2rem;
}
.welcome {
    text-align: center;
    padding: 50px;
    text-decoration: underline yellow;
}
.slide-wrapper {
    position: relative;
    max-width: 58rem;
    margin: 0 auto;
    
}
.slider {
    border-radius: 15px;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider img {
    animation: slide 16s infinite;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: yellow;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    background-color: white;
}
/* mission section*/
.mission-h2 {
    text-align: center;
    padding: 35px;
    text-decoration: underline yellow;

}
.mission {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.mission-para p{
    text-align: left;
    padding: 50px;
}
.mission-image img {
    margin-right:45px;
    max-width: 38rem;
    border-radius: 10px;
}
.mission-para button {
    padding: 10px 50px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    margin-left: 40%;
    border-radius: 10px;
}
#Locat {
    background-color: #A4DEE6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}
/*this is the testimonias section */
.testimo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.testigro {
    background-color: rgb(29, 29, 95);
    margin: 20px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    
}
.testimo-image img {
    margin:auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 100px;
}
.testigro p {
    color: white;
    text-align: center;
    padding: 0 20px;
}
.testigro h3 {
    text-align: center;
    padding-top: 15PX;
    color: #A4DEE6;
}
footer {
    margin-top: 30px;
    width: 100%;
    height: 40vh;
    background-color: #A4DEE6;
}
.all-elem {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
.social-media h4 {
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
.social-media ul li {
    list-style: none;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.social-media ul li:hover{
    color: white;
    cursor: pointer;
}