*{
    padding: 0;
    margin: 0;
}
.header {
    background-color: #A4DEE6;
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.logo {
    font-size: 30px;
}
.nav ul {
    display: flex;
    list-style: none;
    
}
.nav ul li a {
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
}
/* this is the style for the search bar*/
.searchBar {
    padding-top: 40px;
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
}
form {
    
    width: 600px;
    height: 55px;
    display: flex;
}
form input{
    background: #D9ECF2;
    flex: 1;
    border: none;
    outline: none;
}
form button{
    padding: 10px 50px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    background: #A4DEE6;
    cursor: pointer;
}
/* this is the style for the image slider*/
.image-container {
    padding: 2rem;
}
.welcome {
    text-align: center;
    padding: 50px;
    text-decoration: underline yellow;
}
.slide-wrapper {
    position: relative;
    max-width: 58rem;
    margin: 0 auto;
    
}
.slider {
    border-radius: 15px;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider img {
    animation: slide 16s infinite;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: yellow;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    background-color: white;
}